@(form: Form[TestDetails], content: String, result: Seq[String])


    @inputText(field: play.api.data.Field) = {
    @helper.inputText(field, 'size -> 70,'_showConstraints -> false)
    }

@main("Welcome to Play") {

    @helper.form(action = routes.Application.checkSolution) {
        @inputText(form(TestDetails.url))
        @inputText(form(TestDetails.subProject))
        @inputText(form(TestDetails.packageName))
        @inputText(form(TestDetails.objectName))

        @inputText(form(TestDetails.signature))
        @inputText(form(TestDetails.testName))

        @inputText(form(TestDetails.numbers))
        <button type="submit" value="submit">Submit</button>
    }
    <br>
    <pre>
        <code>
        @content
        </code>
    </pre>
    <br>
    @for(el <- result) {
        @Html(el) <br>
    }

}
